# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: weekly
  - package-ecosystem: github-actions
    target-branch: develop
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/.github"
    schedule:
      interval: weekly
    commit-message:
      # Prefix all commit messages with "dependabot"
      prefix: "dependabot"
    open-pull-requests-limit: 10


