# This action will test the code coverage of all R files that contains examples and
# Unit tests. This will be triggered using `workflow_run` after a successful run of
# the Lint action.
#
# This file must live on `main` branch, and any version in other branches will not
# be triggered. This is a "feature" of GH-actions. The workaround for working with
# the right branch is using the 'github.event.workflow_run.head_branch' on action
# 'actions/checkout'. Thanks to Potherca https://stackoverflow.com/a/65081720/2195337

name: Covr

on:
  push:
    branches:
      - main
      - master
      - develop
      - release/*

  workflow_dispatch:
  repository_dispatch:

concurrency:
  group: coverage
  cancel-in-progress: true

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      CODECOV_TOKEN: "21b809ce-ca02-4af5-954f-0dcadb160d24"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - run: git branch

      - name: Install System dependencies
        if: runner.os == 'Linux'
        run:
          sudo apt-get update -y && sudo apt-get install -y --no-install-recommends libcurl4-openssl-dev \
          make libicu-dev libxml2-dev

      - name: Setting up pandoc and pandoc-citeproc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Setting up R installation
        uses: r-lib/actions/setup-r@v2

      - name: Cache R packages
        uses: r-lib/actions/setup-renv@v2
        # with:
        #   cache-version: 2 # use 2 or more to force a new cache

      - name: Test coverage
        run: covr::codecov(quiet = FALSE)
        shell: Rscript {0}
